<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SpaceInfos</title>

  <!-- Bootstrap core CSS -->
  <link href=" {{url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href=" {{ url_for('static',filename='all.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href=" {{ url_for('static',filename='clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">SpaceInfos</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('yearly') }}">Happening This Year</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('telescope') }}">Telescopes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('spacewiki') }}">Astronomy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static',filename='mmt2.jpeg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>          </h1>
            <span class="subheading"><br> </br></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <h2 class="section-heading">MMT Observatory</h2>

          <p> The MMT Observatory (MMTO) is an astronomical observatory on the site of Fred Lawrence Whipple Observatory (IAU observatory code 696). The Whipple observatory complex is located on Mount Hopkins, Arizona, US (55 km south of Tucson) in the Santa Rita Mountains. The observatory is operated by the University of Arizona and the Smithsonian Institution, and has a visitor center in nearby Amado, Arizona. The MMTO is the home of the MMT (formerly Multiple Mirror Telescope), which has a primary mirror 6.5 m in diameter. The name comes from the six smaller mirrors originally used before the single primary mirror was installed in 1998. The primary mirror has a special lightweight honeycomb design made by the University of Arizona's Steward Observatory Mirror Laboratory. The MMT is housed in a building which allows the walls and roof around the telescope to be completely rolled back, allowing it to cool down very quickly in order to improve observation. </p>

          <h3 class="section-heading">Multiple Mirror Telescope (1979–1998)</h3>

          <p>The Multiple Mirror Telescope operated between 1979 and 1998 with six honeycombed borosilicate mirrors by Corning, each with a diameter of 72 inches (1.8 m), which were donated by the NRO after cancellation of the reconnaissance mission KH-10 (codename DORIAN) based on the Manned Orbiting Laboratory. These mirrors were providing the equivalent gathering area of a 4.5-meter telescope, making it the third largest optical telescope in the world at the time of its dedication. It featured ambitious design innovations including its unusual optical design proposed by Aden Meinel, a co-rotating building and an altitude-azimuth mount.</p>

<p>With the exception of the Bolshoi Teleskop Azimutalnyi (BTA-6) and William Herschel's 40-foot telescope, major optical telescopes prior to the MMT used equatorial mounts. The MMT heralded a change in telescope design; all major optical telescopes since the MMT have been built with altitude-azimuth mounts. Several technologies pioneered at the MMT contributed to the success of the subsequent generation of large telescopes. These included: high dynamic-range servos for the altitude-azimuth mount; highly accurate pointing that eliminated the need for sky charts; co-alignment and co-phasing of multiple telescopes; improvements to optical performance by attention to the thermal environment of the facility; contributions to vacuum coatings deposition, optics cleaning, and maintenance; and early experiments in co-phased adaptive optics. </p>


          <h2 class="section-heading">MMT(1998-present)</h2>

          <p>One of the reasons for its original multiple mirror design was the difficulty of casting large mirrors. One solution to this problem was found by Roger Angel of Steward Observatory, of the University of Arizona, who cast mirrors with a honeycomb structure in the interior of a rotating oven. This made it possible to replace the six mirrors with a single 6.5-meter one. The original building and part of the structure could be reused. The new mirror was the first of its size to be cast and polished in the Steward Observatory Mirror Laboratory. The updated MMT, its name no longer an acronym, was rededicated on 20 May 2000.</p>

<p>In late 2002, a novel deformable secondary mirror was added to the telescope. While other adaptive optics designs do their corrections with additional mirrors, minimizing the number of warm surfaces in the light path produces better results in infrared wavelengths. The MMT AO system contributed to the design of the Large Binocular Telescope, which achieved record breaking Strehl ratios with its AO system in 2010.</p>

<p>From 2004 to 2010, approximately 8% of MMT observing time was made accessible to the entire astronomical community via the US National Science Foundation's Telescope System Instrumentation Program (TSIP), administered by the National Optical Astronomy Observatory (NOAO)</p>
          
          <span class="caption text-muted">Sources:Wikipedia</span>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <p class="copyright text-muted">Copyright &copy; SpaceInfos 2020</p>
        </div>
      </div>
    </div>
  </footer>
   <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static',filename='clean-blog.min.js') }}"></script>


</body>

</html>